.console-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh; /* full height */
  overflow: hidden; /* prevent double scroll */
}
.console-sidebar {
  /* position: absolute; */
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background: #046e3d; /* so it's visible */
  transition: width 0.3s ease;
  z-index: 1000; /* stay on top */
}
.console-container > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 1100;
}

/* Expand / collapsed sidebar */
.console-sidebar.expand {
  width: 220px;
}
.console-sidebar.collapsed {
  width: 60px;
}
/* Content area scrolls */
.outlet-containerr {
  margin-top: 10vh; /* below navbar */
  margin-left: 220px; /* next to sidebar */
  padding: 16px;
  height: calc(100vh - 10vh);
  overflow-y: auto; /* allow table/content to scroll */
  transition: margin-left 0.3s ease;
}

/* When sidebar collapsed */
.console-sidebar.collapsed ~ .outlet-containerr {
  margin-left: 60px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .outlet-containerr {
    position: absolute !important;
    padding: 10px !important;
    right: 0 !important;
    top: 0vh !important;
    width: 75% !important;
    margin-left: 20% !important;
    left: 0 !important; /* take full width when sidebar hidden */
  }
  /* .ant-pagination {
    background-color: red;
  margin-left: 20px !important; /* change value as needed */
  /* } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .outlet-containerr {
    position: absolute !important;
    padding: 6px !important;
    right: 0 !important;
    top: 5vh !important;
    width: 90% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .outlet-containerr {
    position: absolute !important;
    padding: 6px !important;
    right: 0 !important;
    top: 10vh !important;
    width: 90% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .outlet-containerr {
    position: absolute !important;
    padding: 6px !important;
    right: 0 !important;
    top: 10vh !important;
    width: 80% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .outlet-containerr {
    position: absolute !important;
    padding: 24px !important;
    right: 0 !important;
    top: 0vh !important;
    width: 80% !important;
  }
}
