.ViewCustomer {
    background-color: red;


}

/* .flex{
    display: flex;
    flex-direction: row !important;
} */


.view-customer  {

    background-color: red;


}

.flex {
    background-color: blue;
}

.flex-one {

   display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 10px;
grid-row-gap: 0px;


    background-color: green;
}